div{
    border-radius: 7px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 200px;
    text-align: center;
}

.theme{
    background-color: ghostwhite;
}

.options{
    height: 70px;
    background-color: gainsboro;
}

button{
    border: none;
    border-radius: 5px;
    font-size: 17px;
    height: 40px;
    width: 90px;
    margin: 15px 5px 5px 0;
}

.label{
    font-size: 30px;
    margin-top: 3px;
}

.dark{
    background-color: rgb(24, 31, 41);
}

.light{
    background-color: ghostwhite;
}

.darklight{
    background-color: rgb(75, 73, 73);
}